{% extends "base.html.twig" %}

{% block title %}Ma commande - La Boutique Antillaise.{% endblock %}

{% block content %}

<h2>Confirmation de commande </h2>
<p>
Bonjour<b>{{order.user.firstname}} | {{order.user.lastname}}</b></br>
Nous vous remerçions pour votre commande n° <b>{{order.reference}}.</b></br>
Une confirmation viens de vous etre envoyer par mail a l'adresse <b> {{order.user.email}}.</b>
<hr>
 Votre commande seras livrer par <b>  {{order.carrierName}} à l'adresse suivante {{order.delivery|raw}}.</b> 
</p>
<hr>
Pour suivre votre commande rendez vous dans  votre <a href="{{path('account_order')}}"> compte </a>.


{% endblock %}
